@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    height: 100vh;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.461);
}
.wrapper-dark-blur{
    background-color: rgba(0, 0, 0, 0.866);
    backdrop-filter: blur(20px);

}